import("rJava")
importFrom("filehash", dbInit)

#import("filehash")

export( cbc.get.col, cbc.read.table, colnames, nrow, ncol, colnames.default, nrow.default, ncol.default, cbc.load, cbc.save )
#export( cbc.get.col, cbc.read.table, colnames.colbycol, nrow.colbycol, ncol.colbycol, colnames, nrow, ncol, colnames.default, nrow.default, ncol.default )

S3method(colnames, colbycol)
S3method(ncol, colbycol)
S3method(nrow, colbycol)
S3method(summary, colbycol)
S3method(as.data.frame, colbycol)
