export( cbc.get.col, cbc.read.table, colnames, nrow, ncol, colnames.default, nrow.default, ncol.default )
#export( cbc.get.col, cbc.read.table, colnames.colbycol, nrow.colbycol, ncol.colbycol, colnames, nrow, ncol, colnames.default, nrow.default, ncol.default )

S3method(colnames, colbycol)
S3method(ncol, colbycol)
S3method(nrow, colbycol)
